<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>成为专家 - 口袋专家</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<!-- BEGIN GLOBAL MANDATORY STYLES -->

<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->

<!-- BEGIN THEME STYLES -->
<link href="../static/css/components.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/darkblue.css" rel="stylesheet" type="text/css"/>

<!-- END THEME STYLES -->
</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed page-sidebar-closed-hide-logo page-container-bg-solid">

<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">

	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">


			<!-- BEGIN PAGE HEADER-->
			<h3 class="page-title">
			成为专家 - 口袋专家
			</h3>

			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row margin-top-20">
				<div class="col-md-12">

					<!-- BEGIN PROFILE CONTENT -->
					<div class="profile-content">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
									<div class="portlet-title tabbable-line">
										<div class="caption caption-md">
											<i class="icon-globe theme-font hide"></i>
											<span class="caption-subject font-blue-madison bold uppercase">请您耐心填写专家信息</span>
										</div>
										<ul class="nav nav-tabs">
											<li class="active" id='li_1'>
												<a href="javascript:;">基本资料-></a>
											</li>
											<li id='li_2'>
												<a href="javascript:;">个性化介绍-></a>
											</li>
											<li id='li_3'>
												<a href="javascript:;">话题设置-></a>
											</li>
											<li id='li_4'>
												<a href="javascript:;">完成申请</a>
											</li>
										</ul>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<!-- PERSONAL INFO TAB -->
											<div class="tab-pane active" id="tab_1_1">
													<div class="form-group">
														<label class="control-label">*姓名</label>
														<input type="text" id="name" placeholder="姓名" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*手机</label>
														<input type="text" id="phone" placeholder="手机" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*验证码</label>
														<input type="text" id="code" placeholder="验证码" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*邮箱</label>
														<input type="text" id="email" placeholder="邮箱" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*常驻区域</label>
														<input type="text" id="site" placeholder="常驻区域" class="form-control"/>
													</div>
													<div class="margiv-top-10">
														<a href="javascript:subform(1);" id='btn_1' class="btn green-haze">下一步</a>
													</div>
											</div>
											<!-- END PERSONAL INFO TAB -->
											<!-- CHANGE AVATAR TAB -->
											<div class="tab-pane" id="tab_1_2">
													<div class="form-group">
														<label class="control-label">*毕业院校</label>
														<input type="text" id="school" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*公司</label>
														<input type="text" id="company" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*头衔/职位</label>
														<input type="text" id="job" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*从业领域</label>
														<select id="domainid" class="form-control">
														<option value="1">新金融</option>
                                                        <option value="2">教育</option>
                                                        <option value="3">企业服务</option>
                                                        <option value="4">电商</option>
														<option value="5">游戏</option>
                                                        <option value="6">互联网</option>
														<option value="7">硬件</option>
                                                        <option value="8">文化创意</option>
														<option value="9">快消</option>
                                                        <option value="10">医疗健康</option>
														<option value="11">新农业</option>
                                                        <option value="12">本地生活</option>
														<option value="13">房地产</option>
														<option value="14">汽车</option>
														</select>
													</div>
													<div class="form-group">
														<label class="control-label">微信公众号</label>
														<input type="text" id="weixin" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">微博</label>
														<input type="text" id="sina" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">知乎</label>
														<input type="text" id="zhihu" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">其他</label>
														<input type="text" id="other" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">个性化标签</label>
														<input type="text" id="label" class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*请您简要介绍一下您的学业经历和从业经历</label>
														<textarea class="form-control" id="intro_one" rows="3" placeholder=""></textarea>
													</div>
													<div class="form-group">
														<label class="control-label">*请您介绍一下您现在所从事的领域以及您的从业/创业心得。</label>
														<textarea class="form-control" id="intro_two" rows="3" placeholder=""></textarea>
													</div>
													<div class="margiv-top-10">
														<a href="javascript:subform(2);" id='btn_2' class="btn green-haze">下一步</a>
													</div>
											</div>
											<!-- END CHANGE AVATAR TAB -->
											<!-- CHANGE PASSWORD TAB -->
											<div class="tab-pane" id="tab_1_3">
												<form action="#">
													<div class="form-group">
														<label class="control-label">*话题名称</label>
														<input type="text" id='topic_title' class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*选题原因（可以结合社会热点、市场刚需等）</label>
														<input type="text" id='topic_cause' class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*该话题的内容大纲（概括的3-5个要点）</label>
														<input type="text" id='topic_content' class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">*您的个人优势（概括的3-5个要点）</label>
														<input type="text" id='per_info' class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">来访要求</label>
														<input type="text" id='req' class="form-control"/>
													</div>
													<div class="form-group">
														<label class="control-label">线上语音价格</label>
														（<input type="text" id='online_pri' style="width:50px" />）元/次 约（<select id='online_time'>
														<option value="10">10分钟</option>
                                                        <option value="15">15分钟</option>
                                                        <option value="20">20分钟</option>
                                                        <option value="25">25分钟</option>
														<option value="30">30分钟</option>
                                                        <option value="40">40分钟</option>
														<option value="45">45分钟</option>
                                                        <option value="50">50分钟</option>
														<option value="60" selected="selected">1小时</option>
                                                        <option value="90">1.5小时</option>
														<option value="120">2小时</option>
                                                        <option value="150">2.5小时</option>
														<option value="180">3小时</option>
														<option value="240">4小时</option>
													</select>）分钟
													</div>
													<div class="form-group">
														<label class="control-label">线上见面价格</label>
														（<input type="text" id='offline_pri' style="width:50px" />）元/次 约（<select id='offline_time'>
                                                        <option value="30">0.5小时</option>
                                                        <option value="60">1小时</option>
                                                        <option value="90">1.5小时</option>
                                                        <option value="120" selected="selected">2小时</option>
                                                        <option value="150">2.5小时</option>
														<option value="180">3小时</option>
                                                        <option value="210">3.5小时</option>
                                                        <option value="240">4小时</option>
													</select>）分钟
													</div>
													<div class="margin-top-10">
														<a href="javascript:subform(3);" class="btn green-haze">完成申请</a>
													</div>
												</form>
											</div>
											<!-- END CHANGE PASSWORD TAB -->
											<!-- PRIVACY SETTINGS TAB -->
											<div class="tab-pane" id="tab_1_4">
												<form action="#">
													<table class="table table-light table-hover">
													<tr>
														<td>
															 Wellcome！
														</td>
													</tr>
													<tr>
														<td>
															 欢迎您申请成为口袋专家的一员，我们会在1个工作日之内给予您申请反馈。 
														</td>
													</tr>
													</table>
													<!--end profile-settings-->
												</form>
											</div>
											<!-- END PRIVACY SETTINGS TAB -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END PROFILE CONTENT -->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 2015 &copy; fullteck
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
<!-- END FOOTER -->

<script src="../static/js/jquery.min.js" type="text/javascript"></script>
<script src="../static/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
lock = false
tphone = ''
tcode = ''
function subform(type)
{
	if(!lock)
	{ 
		ethis = $('#btn_'+type);
		ethis.html('提交中...')
		lock = true
		if(type==1)
		{
			tphone = $('#phone').val()
			tcode = $('#code').val()
			$.ajax({
			    type: "POST",
			    url: '?type='+type,
			    data:{
			    		"name":$('#name').val(),
			    		"phone":tphone,
			    		"code":tcode,
			    		"email":$('#email').val(),
			    		"site":$('#site').val()
			    	 },
			    dataType: 'json',
			    success: function(data) {
			    	lock = false
			    	ethis.html('下一步')
			    	if(data.ret>0)
			    	{
			    		$('.nav-tabs li').removeClass('active')
			    		$('.tab-pane').removeClass('active')
				    	
				    	$('#li_'+(data.ret+1)).addClass('active')

				    	$('#tab_1_'+(data.ret+1)).addClass('active')
			    	}
			    	else if(data.ret==-2)
			    		alert('手机或验证码错误')
			    	else if(data.ret==-1)
			    		alert('必填项不能为空')
			    },
		    	error:function(ret) {
		    		lock = false
		    		alert('更新失败请重试')
		    		ethis.html('下一步')
		    	}
			});
		}
		else if(type==2)
		{
			$.ajax({
			    type: "POST",
			    url: '?type='+type,
			    data:{
			    		"phone":tphone,
			    		"code":tcode,
			    		"school":$('#school').val(),
			    		"school":$('#school').val(),
			    		"company":$('#company').val(),
			    		"job":$('#job').val(),
			    		"domainid":$('#domainid').val(),
			    		"weixin":$('#weixin').val(),
			    		"sina":$('#sina').val(),
			    		"zhihu":$('#zhihu').val(),
			    		"other":$('#other').val(),
			    		"label":$('#label').val(),
			    		"intro_one":$('#intro_one').val(),
			    		"intro_two":$('#intro_two').val()
			    	 },
			    dataType: 'json',
			    success: function(data) {
			    	lock = false
			    	ethis.html('下一步')
			    	if(data.ret>0)
			    	{
			    		$('.nav-tabs li').removeClass('active')
			    		$('.tab-pane').removeClass('active')
				    	$('#li_'+(data.ret+1)).addClass('active')
				    	$('#tab_1_'+(data.ret+1)).addClass('active')
			    	}
			    	else if(data.ret==-2)
			    		alert('手机或验证码错误')
			    	else if(data.ret==-3)
			    		alert('手机号不存在，请重新提交')
			    	else if(data.ret==-1)
			    		alert('必填项不能为空')
			    	else if(data.ret==-5)
			    		alert('手机号不存在')
			    },
		    	error:function(ret) {
		    		lock = false
		    		alert('更新失败请重试')
		    		ethis.html('下一步')
		    	}
			});
		}
		else if(type==3)
		{
			$.ajax({
			    type: "POST",
			    url: '?type='+type,
			    data:{
			    		"phone":tphone,
			    		"code":tcode,
			    		"topictitle":$('#topic_title').val(),
			    		"topiccause":$('#topic_cause').val(),
			    		"topiccontent":$('#topic_content').val(),
			    		"perinfo":$('#per_info').val(),
			    		"req":$('#req').val(),
			    		"onlinepri":$('#online_pri').val(),
			    		"offlinepri":$('#offline_pri').val(),
			    		"onlinetime":$('#online_time').val(),
			    		"offlinetime":$('#offline_time').val()
			    	 },
			    dataType: 'json',
			    success: function(data) {
			    	lock = false
			    	ethis.html('下一步')
			    	if(data.ret>0)
			    	{
			    		$('.nav-tabs li').removeClass('active')
			    		$('.tab-pane').removeClass('active')
				    	$('#li_'+(data.ret+1)).addClass('active')
				    	$('#tab_1_'+(data.ret+1)).addClass('active')
			    	}
			    	else if(data.ret==-2)
			    		alert('手机或验证码错误')
			    	else if(data.ret==-3)
			    		alert('手机号不存在，请重新提交')
			    	else if(data.ret==-1)
			    		alert('必填项不能为空')
			    	else if(data.ret==-5)
			    		alert('手机号不存在')
			    },
		    	error:function(ret) {
		    		lock = false
		    		alert('更新失败请重试')
		    		ethis.html('下一步')
		    	}
			});
		}
	}
}

</script>
</body>
<!-- END BODY -->
</html>